@model AppAttendance.Models.Anggota

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Anggota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tgl_lahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tgl_lahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wilayah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wilayah.Kd_wilayah)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pengurus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pengurus.Username)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Kd_anggota" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
