@model IEnumerable<AppAttendance.Models.Absensi>

@{
    ViewData["Title"] = "History";
}
<form asp-action="History" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Name / Wilayah:
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />

            <input type="date" name="SearchDate" value="@ViewData["CurrentDate"]" />

            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="History">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anggota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wilayah)
            </th>
            <th>
                Hadir
            </th>
            <th>
                Tidak
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Anggota.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wilayah.Nama_Wilayah)
                </td>
                <td>
                    @if (item.Tanggal != null)
                    {
                        <p class="glyphicon glyphicon-ok"></p>;
                    }
                </td>
                <td>
                    @if (item.Tanggal == null)
                    {
                        <p class="glyphicon glyphicon-ok"></p>;
                    }
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Kd_absen">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Kd_absen">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Kd_absen">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
